{% load bootstrap5 %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>

    {% csrf_token %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<main class="container mt-5">
    {% bootstrap_messages %}
    {% block content %}
        EMPTY
    {% endblock %}
</main>
</body>
</html>
